<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="LOG_DIR">logs</property>
        <property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</property>
        <property name="pattern_file">%d{HH:mm:ss} [%t] %-5level %msg%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_file}"/>
        </Console>

        <RollingFile name="FileRolling"
                     filename="${LOG_DIR}/app_log.log"
                     append="true"
                     filePattern="${LOG_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Rolling_File" level="info" additivity="false">
            <AppenderRef ref="FileRolling"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileRolling"/>
        </Root>
    </Loggers>
</Configuration>
